@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply font-poller;
      @apply bg-sky;
      @apply text-base-color;
      @apply bg-fixed;
    }
  }

/*body {
    font-family: "Poller One", serif;
    background-image: url(./assets/sky.jpg);
    color: #eedb00;
    background-attachment: fixed;
}*/